Checks: >
    *,
    -altera-*,
    -llvmlibc-*,
    -modernize-use-trailing-return-type,
    -*-default-arguments*,
    -google-readability-todo,
    -fuchsia-overloaded-operator,
    -fuchsia-statically-constructed-objects,
    -fuchsia-trailing-return,
    -bugprone-exception-escape,
