Checks: >
    *,
    -altera-*,
    -llvmlibc-*,
    -modernize-use-trailing-return-type,
    -*-default-arguments*,
    -google-readability-todo,
    -fuchsia-overloaded-operator,
    -fuchsia-statically-constructed-objects,
    -fuchsia-trailing-return,
    -bugprone-exception-escape,
    -misc-non-private-member-variables-in-classes,

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: x|y|i|j
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: x|y|i|j
